E-merceCloud.xcodeproj/xcuserdata/klauskie.xcuserdatad/xcschemes/xcschememanagement.plist
E-merceCloud.xcworkspace/xcuserdata/klauskie.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/klauskie.xcuserdatad/xcschemes/xcschememanagement.plist